---
import Card from "../Card.astro";

import { Image } from "astro:assets";

type Props = (typeof Image)["arguments"] & {
  objectFit?: astroHTML.JSX.CSSProperties["object-fit"]
  padding?: astroHTML.JSX.CSSProperties["padding"]
};

const props = Astro.props;
const { objectFit, padding } = props;
---

<Card flex padding={0}>
  <div class="outer">
    <div class="inner" style={{padding: padding}}>
      <Image {...props} style={{objectFit: objectFit ?? "cover"}} />
    </div>
  </div>
</Card>


<style>
  .outer {
    aspect-ratio: 16/9;
    overflow: hidden;
  }

  .inner {
    width: 100%;
    height: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    
  }
</style>
