---
import { getImage } from "astro:assets";
import AboutBanner from "../assets/img/lab_bs.jpg";
import InfoCard from "../components/cards/InfoCard.astro";
import MemberCard from "../components/cards/MemberCard.astro";
import Group from "../layouts/Group.astro";
import XRCPage from "../layouts/XRCPage.astro";
import type { Member } from "../types/PayloadSchema";
import { fetchWebsite } from "../util/xrc-suite";
import BigLinkButton from "../components/BigLinkButton.astro";
import Grid from "../layouts/Grid.astro";

let website = await fetchWebsite();
let imageHref = (await getImage({ src: AboutBanner })).src;
const members = website.members?.map((m) => m.member as Member) ?? [];
const legacyMembers =
  website.legacyMembers
    ?.map((m) => m.member as Member)
    .sort((a, b) => a.name.localeCompare(b.name)) ?? [];
---

<XRCPage bannerHref={imageHref} bannerText="About">
  <Group>
    <h1>Mission Statement</h1>
    <p>
      Our mission is to foster a community around virtual and augmented reality
      on campus by providing technologies, mentorship, and specialized
      hackathons. To capture these goals, XR Club strives to supply the
      resources for students to develop, the specialized mentorship to gain
      knowledge, and the supportive culture to produce an innovative mindset.
      We, as aspiring developers, creatives, artists, entrepreneurs, engineers,
      and scientists, collaborate on XR Projects, which includes Augmented,
      Virtual, and Mixed Reality, as well as research XR technology. We are
      passionate about all things XR and welcome new members with unprecedented
      access to XR development equipment and expertise.
    </p>
    <h1>Teams</h1>
    <p>
      At the XR Club, we firmly believe that everyone can bring something to the
      club that will make it a better place. We encourage our members to
      contribute by joining our teams. However, we recognize that UMD students
      are incredibly talented and wear multiple hats and can have changing
      interests over time as their skill sets and personalities develop. So, we
      enable club members to contribute to multiple teams!
    </p>
    <p>
      If you are interested in joining us, please let us know through our
      Discord or our email and/or applying using the button below!
    </p>
    <Group alignItems="center">
      <BigLinkButton
        href="https://forms.gle/uLsBXSAFGEk5idiN6"
        text="Apply Now"
      />
    </Group>
    <br />
    <Grid numColumns={2}>
      <InfoCard color="var(--xr-admin)" icon="mdiAccountGroup" title="Admin">
        The Admin teams includes the President, Vice President, and Treasurer
        roles. Their responsibility is to keep the club running: coordinating
        teams, managing finances, doing boring university bureaucracy stuff,
        etc.
      </InfoCard>
      <InfoCard color="var(--xr-lab)" icon="mdiCubeOutline" title="Lab">
        The Lab team maintains the beloved XR Lab in AVW 4176! These people are
        responsible for keeping the lab open, managing and troubleshooting our
        equipment, and also ensuring that proper handling, safety, and health
        procedures are being followed.
      </InfoCard>
      <InfoCard color="var(--xr-projects)" icon="mdiCodeTags" title="Projects">
        The Projects team coordinates our project efforts as well as developing
        workshop content. They will also gladly help answer your questions with
        everything regarding XR development. The project team helps to maintain
        the website you're seeing right now!
      </InfoCard>
      <InfoCard color="var(--xr-events)" icon="mdiCalendar" title="Events">
        The Events team plans and coordinates all the events for the XR Club.
        This includes our recreational events, field trips, and speaker events.
        Some of them may even help run game tournaments like Beat Saber and VTOL
        VR!
      </InfoCard>
      <InfoCard color="var(--xr-media)" icon="mdiVideo" title="Media">
        The Media team helps to create content for our social media and also
        helps to produce videos and graphics for the XR Club. You can see their
        work on our Instagram and also our YouTube channel!
      </InfoCard>
      <InfoCard color="var(--xr-outreach)" icon="mdiBullhorn" title="Outreach">
        The Outreach team manages the marketing for our social media accounts
        and communicates with our partners and reach out to external contacts.
      </InfoCard>
    </Grid>
    <h1>History</h1>
    <p>Coming soon!</p>

    <h1>Leadership</h1>
    <Grid numColumns={3}>
      {members.map((m) => <MemberCard member={m} />)}
    </Grid>

    {
      legacyMembers.length > 0 ? (
        <>
          <h1>Past Leadership</h1>
          <Grid numColumns={3}>
            {legacyMembers.map((m) => (
              <MemberCard member={m} />
            ))}
          </Grid>
        </>
      ) : null
    }
  </Group>
</XRCPage>

<style>
  h2 {
    margin: 0;
  }
</style>
