---
import { getImage } from "astro:assets";
import AboutBanner from "../assets/img/lab_bs.jpg";
import InfoCard from "../components/cards/InfoCard.astro";
import MemberCard from "../components/cards/MemberCard.astro";
import Group from "../layouts/Group.astro";
import XRCPage from "../layouts/XRCPage.astro";
import type { Member } from "../types/PayloadSchema";
import { fetchWebsite } from "../util/xrc-suite";
import BigLinkButton from "../components/BigLinkButton.astro";
import Grid from "../layouts/Grid.astro";

let website = await fetchWebsite();
let imageHref = (await getImage({ src: AboutBanner })).src;
const members = website.members?.map((m) => m.member as Member) ?? [];
const legacyMembers =
  website.legacyMembers
    ?.map((m) => m.member as Member)
    .sort((a, b) => a.name.localeCompare(b.name)) ?? [];
---

<XRCPage bannerHref={imageHref} bannerText="About">
  <Group>
    <h1>Mission Statement</h1>
    <p>
      Our mission is to foster a community around virtual and augmented reality
      on campus by providing technologies, mentorship, and specialized
      hackathons. To capture these goals, XR Club strives to supply the
      resources for students to develop, the specialized mentorship to gain
      knowledge, and the supportive culture to produce an innovative mindset.
      We, as aspiring developers, creatives, artists, entrepreneurs, engineers,
      and scientists, collaborate on XR Projects, which includes Augmented,
      Virtual, and Mixed Reality, as well as research XR technology. We are
      passionate about all things XR and welcome new members with unprecedented
      access to XR development equipment and expertise.
    </p>
    <h1>Leadership</h1>
    <Grid numColumns={3}>
      {members.map((m) => <MemberCard member={m} />)}
    </Grid>

    {
      legacyMembers.length > 0 ? (
        <>
          <h1>Past Leadership</h1>
          <Grid numColumns={3}>
            {legacyMembers.map((m) => (
              <MemberCard member={m} />
            ))}
          </Grid>
        </>
      ) : null
    }
  </Group>
</XRCPage>

<style>
  h2 {
    margin: 0;
  }
</style>
