---
import BS from "../assets/img/bs.jpg";
import BigLinks from "../components/BigLinks.astro";
import AVPImage from "../assets/img/avp.jpg";
import ImageCard from "../components/cards/ImageCard.astro";
import InfoCard from "../components/cards/InfoCard.astro";
import WelcomeBanner from "../components/WelcomeBanner.astro";
import Group from "../layouts/Group.astro";
import XRCPage from "../layouts/XRCPage.astro";
import { getImage } from "astro:assets";

let imageHref = (await getImage({ src: AVPImage })).src;
---

<XRCPage>
  <WelcomeBanner slot="banner"/>
  <Group gap="2rem">
    <h1>What is the XR Club?</h1>
    <p>
      XR Club is a student organization at the University of Maryland, College
      Park that focuses on immersive technologies, like virtual reality (VR),
      augmented reality (AR), and mixed reality (MR). We provide students with
      resources and opportunities to explore XR through hands-on tutorials,
      projects, hackathons, game nights, open lab hours, mentor office hours,
      and more!
    </p>
    <ImageCard src={AVPImage} alt="Image of people in the " />
    <h1>What do we do?</h1>
    <Group direction="row">
      <InfoCard
        icon={"mdiBook"}
        title="Workshops"
        description={"Learn about XR technologies and techniques such as AR/VR development, 3D modeling, Unity, and Oculus from fellow XR Club members."}
      />
      <InfoCard
        icon={"mdiController"}
        title="Gaming"
        description={"Gain hands-on experience with XR equipment and meet other XR Club members while challenging them to immersive games."}
      />
      <InfoCard
        icon={"mdiCodeTags"}
        title="Projects"
        description={"Collaborate with peers to develop personal projects, build immersive installations, and compete in external XR challenges."}
      />
    </Group>
    <h1>(Old) Video</h1>
    <div class="video">
      <iframe
        title="XR Terrestrial Video"
        src="https://player.vimeo.com/video/379079878?title=0&portrait=0"
        id="video"></iframe>
      <script src="https://player.vimeo.com/api/player.js"></script>
    </div>
  </Group>
</XRCPage>

<style>
  img {
    object-fit: contain;
  }

  .video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .video iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
  p {
    line-height: 1.5em;
  }
</style>
