---
import SplitCard from "../components/cards/SplitCard.astro";
import XRCPage from "../layouts/XRCPage.astro";
---
<XRCPage bannerText="Projects">
    At XR Club, we want to empower every student to explore the XR space through creation.
        <SplitCard>
            <div slot="top">
                hello
            </div>
            <h1>Hello there</h1>
        </SplitCard>
</XRCPage>

