---
type Props = {
  href?: string;
  height?: number;
};

const { href } = Astro.props;
const style = { backgroundImage: `url(${href ?? "/img/lab.jpg"})` };
---

<div style={style}>
  <slot />
</div>

<style>
  div {
    height: 400px;
    width: 100%;

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    border-bottom: solid var(--xr-purple) 1px;
  }
</style>
