---
import { getImage } from 'astro:assets';
import lab from "../assets/img/lab.jpg";
import Group from '../layouts/Group.astro';

type Props = {
  href?: string;
  text?: string;
  noTint?: boolean;
};

const { href, text, noTint } = Astro.props;

let imgUrl = href ? href : (await getImage({src: lab, format: "webp"})).src
const style = { backgroundImage: `url(${imgUrl})` };
---

<div class={(noTint) ? undefined : "tint"} style={style}>
  <Group>
    {text ? <h1>{text}</h1> : <slot/>}
  </Group>
</div>

<style>
  div {
    box-sizing: border-box;
    display: flex;
    min-height: 25rem;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
    margin-top: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    border-bottom: solid var(--xr-primary) 1px;
    overflow: hidden;
  }

  h1 {
    color:white;
    font-size: 6em;
    font-weight: 500;
    text-shadow: black 2px 5px 10px;
    text-transform: uppercase;
  }

  .tint {
    background-color: color-mix(in srgb, var(--xr-primary) 60%, black);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
  }
</style>
