---
import IconLinks from "./IconLinks.astro";
import type { IconLink } from "./IconLinks.astro";
import BigLinkButton from "./BigLinkButton.astro";
import ICXR from "../assets/img/icxr.png";
import { Image } from "astro:assets";
import Group from "../layouts/Group.astro";

const socials: IconLink[] = [
  {
    icon: "mdiEmail",
    url: "mailto:umd.xr.club@gmail.com",
  },
  {
    icon: "mdiInstagram",
    url: "https://www.instagram.com/umdxrclub",
  },
  {
    icon: "mdiLinkedin",
    url: "https://www.linkedin.com/groups/8981512/",
  },
  {
    icon: "mdiGithub",
    url: "https://github.com/umdxrclub",
  },
  {
    icon: "mdiYoutube",
    url: "https://youtube.com/@xrclub",
  },
  {
    icon: "mdiTwitter",
    url: "https://twitter.com/umdxrclub",
  },
  {
    icon: "mdiSteam",
    url: "https://steamcommunity.com/groups/xrclub",
  },
];
---

<footer>
  <Group justifyContent="center">
    <Group direction="row" justifyContent="center">
      <BigLinkButton
        href="https://discord.gg/6Bhv6BW72G"
        text="Join Discord"
        buttonColor="#5865F2"
      />
      <BigLinkButton
        href="https://terplink.umd.edu/organization/xr-club"
        text="Join TerpLink"
      />
    </Group>

    <Group direction="row">
      <a class="icxr" href="https://icxr.org">
        <Image src={ICXR} alt="The XR Clbu is a member of ICXR" />
      </a>
      <IconLinks links={socials} scale={1.5} />
    </Group>
    <p>Copyright 2024 XR Club, College Park, MD</p>
    <p>Hecho con amor <3 </p>
  </Group>
</footer>
<style>
  footer {
    border-top: solid var(--xr-secondary) 1px;
    min-height: 128px;
    padding: 2rem;
    background-color: var(--xr-background);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .icxr {
    align-items: center;
    justify-content: center;
    height: 4rem;
    display: flex;
  }

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  p {
    font-size: 0.75em;
    margin: 0;
    text-align: center;
  }
</style>
