---
import Icons from "@mdi/js";
import MDIcon from "./MDIcon.astro";
import Group from "../layouts/Group.astro";

type Props = {
  links: IconLink[];
  scale?: number;
};

export type IconLink = {
  url: string;
  icon: keyof typeof Icons;
};

const { scale, links } = Astro.props;
---

<Group noCollapse direction="row" justifyContent="center" alignItems="center">
  {
    links.map((l) => (
      <a href={l.url}>
        <MDIcon name={l.icon} scale={scale} />
      </a>
    ))
  }
</Group>
<style></style>
