---
import BigLinkButton from "../components/BigLinkButton.astro";
import Card from "../components/Card.astro"
import Group from "../layouts/Group.astro";
import BigLinks from "./BigLinks.astro";
---

<div class="welcome-banner">
  <Group justifyContent="center" alignItems="center">
    <Group gap={0} justifyContent="center" alignItems="center">
      <h1>XR Club</h1>
      <h2>At University of Maryland</h2>
    </Group>
    <BigLinks />
  </Group>
</div>
<style>
  h1 {
    color:white;
    font-size: min(20vw, 15rem);
    font-weight: 800;
    line-height: 90%;
    text-shadow: var(--xr-primary) 0 0 64px;
    -webkit-text-stroke-width: 0.25rem;
    -webkit-text-stroke-color: var(--xr-primary);
  }

  h2 {
    font-size: min(5vw, 3rem);
  }

  h1,h2 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }

  .welcome-banner {
    min-width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

</style>

