---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Banner from "../components/Banner.astro";
import XRCPageContent from "../layouts/XRCPageContent.astro";
import Firebase from "../components/Firebase.astro";

interface Props {
  bannerHref?: string;
  bannerText?: string;
  bannerNoTint?: boolean;
}

const { bannerHref, bannerText, bannerNoTint } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <title>XR Club @ UMD</title>
    <meta name="theme-color" content="#0b040a" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <Header />
    <main>
      <Banner href={bannerHref} text={bannerText} noTint={bannerNoTint} >
        <slot name="banner" />
      </Banner>
      <XRCPageContent>
        <slot />
      </XRCPageContent>
    </main>
    <Footer />
    <Firebase />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Bahnschrift";
    src: url("/fonts/bahnschrift.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  :root {
    --font-primary: "Bahnschrift", sans-serif;
    --font-secondary: "Lato", sans-serif;
    --xr-red: #e61a31;
    --xr-purple: #661556;
    --xr-cool-red: #a52256;
    --xr-indigo: #4d1798;
    --xr-blue: #2588ea;
    --xr-cool-blue: #0d4f92;

    --xr-admin: var(--xr-red);
    --xr-lab: var(--xr-blue);
    --xr-events: #1fa239;
    --xr-outreach: #e3ad19;
    --xr-media: var(--xr-purple);
    --xr-projects: var(--xr-cool-red);


    --text-color: #ffffff;
    --xr-gradient: linear-gradient(
      -45deg,
      var(--xr-red),
      var(--xr-cool-red),
      var(--xr-purple),
      var(--xr-indigo)
    );
    --xr-primary: var(--xr-blue);
    --xr-secondary:  var(--xr-purple);
    --xr-background: color-mix(in srgb, var(--xr-secondary) 10%, black);
  }

  body {
    margin: 0;
    font-family: "Bahnschrift";
    background-size: 3rem 3rem;
    background-image: radial-gradient(
        circle,
        color-mix(in srgb, var(--xr-secondary) 25%, black) 2px,
        rgba(0, 0, 0, 0) 2px
      ),
      linear-gradient(var(--xr-background), var(--xr-background));
    color: white;
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
    color: var(--xr-primary);
  }

  main {
    min-height: 100vh;
  }
</style>
